header {
  display: flex;
  justify-content: space-between;
  background-color: #000;
  padding:1%;
}
header > div {
  display:flex;
}
header div li {
  list-style: none;
  margin:15px;
}
header div li a {
  color:#fff;
}

.underline-white {
  text-decoration: underline;
  color:#fff;
  font-size:34px;
}
.underline-red {
  text-decoration: underline;
  color:#d80000;
  font-family: impact;
  font-size: 36px;
}